name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build_apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and upload APK
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          # The path to the buildozer.spec file.
          # Default: buildozer.spec
          # spec_file: buildozer.spec

